*{
    margin: 0;
    padding: 0;
}
.icon{
    text-align: center;
    font-size: 90px;
    transition: .5s;
    padding: 20px 20px;
    border: 1px solid #ddd;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 20px 5px #ddd;
    position: relative;
}
.l{
    color: black;
    transition: .5s;
}
.l:hover{
    transform: scale(1.2);
}
.l1:hover{
    color: blue;
}
.l2:hover{
    color: red;
}
.l3:hover{
    color: #1c9cea;
}
.l4:hover{
    color: #41bf50;
}
.ll{
    position: absolute;
    top: 0;
    left: 0;
    
}
h2{
    text-align: center;
    margin: 100px 0px;
    font-weight: bolder;
    color: black;
    font-size: 50px;
    font-style: italic;
    border: 1px solid #ddd;
    width: 400px;
    margin: auto;
    cursor: pointer;
}
.con{
    padding: 50px 0px;
}
.pon{
    text-align: center;
}
.j{
    font-size: 70px;
    margin-bottom: 50px;
    padding: 0px 35px;
    color: blue;
}
.j2{
    color: red ;
}
.j3{
    color: #1c9cea;
}
.j4{
    color: #41bf50;
}
.footer{
    background-color: white;
    color: black;
    padding: 10px;
    font-weight: bolder;
    text-align: center;
    margin: 80px 0px;
}